<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- Use IE7 mode -->
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7 charset={$charset}" />
<meta http-equiv="Content-Type" content="text/html;charset={$charset}" />
<title>{$lang.ecmall_admin} -- Powered by ECMall</title>
<link href="templates/style/admin.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{lib file=jquery.js}" charset="utf-8"></script>
<script type="text/javascript" src="{lib file=ecmall.js}" charset="utf-8"></script>

<script type="text/javascript">
var menu = {$menu_json};
</script>

<script type="text/javascript" src="{res file=js/index.js}" charset="utf-8"></script>
    <style type="text/css">
        #head ul#nav li:nth-child(2),#head ul#nav li:nth-child(6),
        #head ul#nav li:nth-child(7),#head ul#nav li:nth-child(8) {
            display: none;
        }
    </style>
</head>
<body>
<div class="back_nav">
    <div class="back_nav_list">
    <!--{foreach from=$back_nav key=key item=menu}-->
        <dl>
            <dt>{$menu.text}</dt>
            <!--{foreach from=$menu.children key=sub_key item=sub_menu}-->
            <dd><a href="javascript:;" onclick="openItem('{$sub_key}','{$key}');none_fn();">{$sub_menu.text}</a></dd>
            <!--{/foreach}-->
        </dl>
    <!--{/foreach}-->
    </div>
    <div class="shadow"></div>
    <div class="close_float"><img src="templates/style/images/close2.gif" /></div>
</div>
<div id="head">
    <div id="logo"><a href="index.php"><img src="templates/style/images/logo.gif" alt="ECMall" /></a></div>
    <div id="menu"><span>{$lang.hello}<strong>{$visitor.user_name}</strong> <a href="index.php?act=logout">[{$lang.logout}]</a> <a href="{$site_url}/index.php" target="_blank">[{$lang.ecmall_index}]</a></span>
    <a href="javascript:;" class="menu_btn1" id="iframe_refresh">{$lang.refresh}</a>
    <a href="javascript:;" class="menu_btn2" id="clear_cache">{$lang.clear_cache}</a>
    <a href="#" id="back_btn"><img src="templates/style/images/tiring_room_nav.gif" /></a>
    </div>
    <ul id="nav">
    </ul>
    <ul style="position: absolute;left: 520px;top:70px;">
        <li style="float: left">
            <a href="http://admin.bzhwj.com/generaldata/page_interpose_index?table=app_common_mis_page_app_config&app_id=1" target="_blank">首页管理</a>
        </li>
        <li style="float: left;margin-left: 10px">
            <a href="http://admin.bzhwj.com/generaldata/page_interpose_list?&app_id=2&table=app_bzhwj_news" target="_blank">新闻管理</a>
        </li>
        <li style="float: left;margin-left: 10px">
            <a href="http://www.bzhwj.com/index.php?app=storeinterpose&act=store_fengyun_people_all" target="_blank">风云人物管理</a>
        </li>
        <li style="float: left;margin-left: 10px">
            <a href="http://www.bzhwj.com/index.php?app=storeinterpose&act=store_tuijian_goods_all" target="_blank">精品项目推荐管理</a>
        </li>
        <li style="float: left;margin-left: 10px">
            <a href="http://www.bzhwj.com/index.php?app=storeinterpose&act=store_grade" target="_blank">店铺信用度管理</a>
        </li>
        <li style="float: left;margin-left: 10px">
            <a href="http://admin.bzhwj.com/generaldata/page_interpose_list?&app_id=2&table=app_bzhwj_common_question" target="_blank">常见问题</a>
        </li>
        <li style="float: left;margin-left: 10px">
            <a href="http://admin.bzhwj.com/generaldata/page_interpose_list?&app_id=2&table=app_bzhwj_newest_notice" target="_blank">最新公告</a>
        </li>
        <li style="float: left;margin-left: 10px">
            <a href="http://admin.bzhwj.com/generaldata/page_interpose_list?&app_id=2&table=app_bzhwj_baozhang" target="_blank">保障范围</a>
        </li>
        <li style="float: left;margin-left: 10px">
            <a href="http://admin.bzhwj.com/generaldata/page_interpose_list?&app_id=2&table=app_bzhwj_about" target="_blank">关于我们</a>
        </li>
    </ul>
    <div id="headBg"></div>
</div>
<div id="content">
    <div id="left">
        <div id="leftMenus">
            <dl id="submenu">
                <dt><a class="ico1" id="submenuTitle" href="javascript:;"></a></dt>
            </dl>
            <dl id="history" class="history">
                <dt>
                    <a class="ico2" id="historyText" href="#">{$lang.action_history}</a>
                </dt>
            </dl>
         </div>
    </div>
    <div id="right">
        <iframe frameborder="0" style="display:none;" width="100%" id="workspace"></iframe>
    </div>
</div>
</body>
</html>
